<nav id="my-navbar-main">
  
      <a  id="my-navbar-logo-info-arch" href="#">
          <img src="/src/assets/img/logo infoarch.PNG" height="60" alt="">
      </a>
      <div id="my-navbar-logo-batmonitor">
        <div id="img-logo-text">
            <img src="/src/assets/img/batmonitorLOGOText.png" height="20px" alt="batmonitorlogoText">
        </div> 
        <div id="img-logo">
            <img src="/src/assets/img/batmonitorLOGOCroped.png" height="50px" alt="batmonitorlogo">  
        </div>

        </div>
  
      <a class="btn btn-primary btn-lg" id="my-navbar-home-button" href="#">Home</a>
</nav>