<!--The content below is only a placeholder and can be replaced.-->
<!--<img src="/src/assets/img/logo infoarch.PNG" alt="infoarch Logo">-->
<div class="my-navbar-container">
    <app-navbar></app-navbar>

</div>

<div>
    <router-outlet></router-outlet>
</div>
<!--<button class="btn-floating btn-large waves-effect waves-light pink accent-2 button fadeInLeft animated z-depth-3"><a href="mailto:dahzeeh@me.com?Subject=We%20like%20your%20work!" target="_blank">
        <i class="large material-icons">mail</i></a>
    </button>-->

